nav {
  background: rgb(65, 98, 168);
  color: rgb(255, 255, 255);
}
nav .container {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
}
nav li {
  padding: 0 10px;
}
nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
